{% extends "base.html" %}

{% block title %}Temperature {% endblock %}

{% block content %}
  <h1> Gráfico da temperatura nas últimas 24h</h1>
  <canvas id="productsChart" width="600px" height="100px" margin="20px"></canvas>
  <b>Temperatura atual: </b>
  <em id="temp"></em><br>
  <b>Coletada às: </b>
  <em id="time"></em>
{% endblock %}

{% block scripts %}
<script>
var ctx = document.getElementById("productsChart");
var names = {{ names|safe }};
var prices = {{ prices|safe }};
var A = Date.now()

var productsChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: names,
        datasets: [{
            label: 'Temperatura',
            data: prices,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    max: 35,
                    min: 25
                }
            }]
        }
    }
});
addData()
function addData() {
        jQuery.getJSON("update_chart", function(data, status)
        {
            var temp_atual = data.temp;
            var horario = Date.parse(data.time);
            horario = Date(horario)
            document.getElementById("temp").innerHTML = temp_atual + "°C ";
            document.getElementById("time").innerHTML = horario;
        }
        );
}

setInterval(addData,10000);

</script>
{% endblock %}