{% extends "base.html" %}


{% block head %}

<script src="vue.js"></script>
<script src="vue-google-charts/dist/vue-google-charts.browser.js"></script>

{% endblock head %}


{% block title %}Temperature {% endblock %}

{% block content %}
  <h1> Temperature chart throught the day</h1>
  <div id="chart_div"></div>
  <b>Temperature: </b>
  <em id="temp"></em><br>
  <b>At: </b>
  <em id="time"></em>
{% endblock %}

{% block scripts %}

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawColColors);

function drawColColors() {
      var data = new google.visualization.DataTable();
      data.addColumn('timeofday', 'Time of Day');
      data.addColumn('number', 'Max. Temperature');
      data.addColumn('number', 'Mean');
      data.addColumn('number', 'Min Temperature');
      var dataValues = {{ listData|safe }}
      console.log(dataValues);
      data.addRows(dataValues);

      var options = {
        title: 'Temperature Throughout the Day',
        colors: ['red', 'green', 'blue'],
        hAxis: {
          title: 'Time of Day',
          format: 'h:mm a',
          viewWindow: {
            min: [-0, 30, 0],
            max: [23, 30, 0]
          }
        },
        vAxis: {
          title: 'Temperature °C'
        }
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
<script>
addData()
function addData() {
        jQuery.getJSON("update_chart", function(data, status)
        {
            var temp_atual = data.temp;
            var horario = data.time;
            //horario = Date(horario)
            document.getElementById("temp").innerHTML = temp_atual + "°C ";
            document.getElementById("time").innerHTML = horario + " (Local time - Timezone: -04:00)";
        }
        );
}

setInterval(addData,10000);

</script>
{% endblock %}